body{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10px;
}

.header p{
    font-size: 20px;
    margin-right: 10px;
}

.catalog_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter_button{
    background-color: #555555; /* Green */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #555555;
}

.filter_button:hover {
    cursor: pointer;
    background-color: white;
    color: #555555;
}


.catalog{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 20px;
}

.item_card{
    width: 280px;
    min-height: 100px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    gap:10px;
    transition: 0.2s;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
}


.item_card:hover {
    box-shadow: 4px 8px 16px rgba(15, 14, 14, 0.2);
}


.card_top {
    flex: 0 0 280px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

.card_bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
    gap: 10px;
}

.card_title {
    display: block;
    max-width: 260px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #000000;
}


.card_price{
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 0;
    margin-top: 10px;
}
.card_category{
    margin-bottom: 0;
    font-weight: 400;
    color: #414141;
}

.card_add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #12149c;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid  #12149c;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card_add:hover {
    border: 1px solid #5168ce;
    background-color: #5168ce;
    color: #fff;
}
.logout_btn {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.logout_btn:disabled {
    cursor: default;
}

.logout_btn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

a{
    text-decoration: none;
}

.btn {
    background-color: #414141; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-right: 20px;
}