body{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
}

.header p{
    font-size: 20px;
    margin-right: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_container{
    box-shadow: 2px 2px 5px #888888;
    border-radius: 10px;
    padding: 20px;
    width: 1400px;
}

.item_title{
    display: flex;
    justify-content: center;
}

.item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_content_top{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.item_title_price{
    display: flex;
    flex-direction: column;
}

.logout_btn {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.logout_btn:disabled {
    cursor: default;
}

.logout_btn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}