body{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header p{
    font-size: 20px;
    margin-right: 10px;
}

.catalog_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter_button{
    background-color: #555555; /* Green */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #555555;
}

.filter_button:hover {
    cursor: pointer;
    background-color: white;
    color: #555555;
}


.catalog{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-bottom: 20px;
}

.item_card{
    width: 280px;
    min-height: 100px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    gap:10px;
    transition: 0.2s;
    position: relative;
    padding: 10px;
}


.item_card:hover {
    box-shadow: 4px 8px 16px rgba(15, 14, 14, 0.2);
}


.card_top {
    flex: 0 0 280px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

.card_bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
    gap: 10px;
}

.card_title {
    display: block;
    max-width: 260px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #000000;
}


.card_price{
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 0;
    margin-top: 10px;
}
.card_category{
    margin-bottom: 0;
    font-weight: 400;
    color: #414141;
}

.card_add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #12149c;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid  #12149c;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card_add:hover {
    border: 1px solid #5168ce;
    background-color: #5168ce;
    color: #fff;
}

img{
    background-color: black;
}
a{
    text-decoration: none;
}