body{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header p{
    font-size: 20px;
    margin-right: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_title{
    display: flex;
    justify-content: center;
}

.item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}