<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin_page.css">
    <title>ShopApp</title>
</head>
<body>
    <div class="header">
        <p class="header_title">ADMIN PAGE</p>
    </div>
    <div class="main">
        <div class="main_content">
            <div class="add_item_wrapper">
                <p class="main_text">Добавить товар</p>
                <a href="/admin/addItemPage">link</a>
            </div>
            <div class="delete_item_wrapper">
                <p class="main_text">Удалить товар</p>
            </div>
        </div>
    </div>
</body>
</html>