<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin_page.css">
    <title>ShopApp</title>
</head>
<body>
    <div class="header">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout_btn">Logout</button>
        </form>
    </div>
    <div class="main">
        <p class="header_title">ADMIN PAGE</p>
        <div class="main_content">
            <div class="add_item_wrapper">
                <p class="main_text">Добавить товар</p>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('.add_item_wrapper').click(function() {
                        $.ajax({
                            url: '/admin/addItemPage',
                            method: 'GET',
                            success: function(response) {
                                // Переход на страницу при успешном ответе
                                console.log('Запрос успешно отправлен');
                                // Если ответ содержит URL страницы, можно использовать его для перенаправления
                                window.location.href = '/admin/addItemPage';
                            },
                            error: function(xhr, status, error) {
                                // Обработка ошибки
                                console.error('Произошла ошибка при отправке запроса:', error);
                            }
                        });
                    });
                });
            </script>

            <div class="delete_item_wrapper">
                <p class="main_text">Удалить товар</p>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('.delete_item_wrapper').click(function() {
                        $.ajax({
                            url: '/admin/getDeleteItemPage',
                            method: 'GET',
                            success: function(response) {
                                // Переход на страницу при успешном ответе
                                console.log('Запрос успешно отправлен');
                                // Если ответ содержит URL страницы, можно использовать его для перенаправления
                                window.location.href = '/admin/getDeleteItemPage';
                            },
                            error: function(xhr, status, error) {
                                // Обработка ошибки
                                console.error('Произошла ошибка при отправке запроса:', error);
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>