<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cart_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ShopApp</title>
</head>
<body>
    <div class="header">
        <a href="/catalog/catalogPage">каталог</a>
    </div>
    <div class="main">
        <div class="catalog_title">
            <H1 class = "">КОРЗИНА</H1>
        </div>
        <div class="catalog">
            <div class="item_card" th:each="item: ${item}">
                <div class="card_content">
                    <img src="img/xiaomi.png" alt="" width="150" height="150">
                    <h3 th:text = "${item.get().getName()}"></h3>
                    <h5><span th:text="${item.get().getPrice()}"></span> $</h5>
                    <a href="item_page.html">
                        <button>Подробнее</button>
                    </a>
                </div>
                <!--<a th:href="@{/cart/deleteItemFromCart(id=${item.get().getId()})}">
                    <button class="btn"><i class="fa fa-close"></i></button>
                </a>-->
                <form method="post" th:action="@{/cart/deleteItemFromCart}">
                    <input type="hidden" th:name="id" th:value="${item.get().getId()}">
                    <button type="submit" class="btn"><i class="fa fa-close"></i></button>
                </form>
            </div>
        </div>
        <div class="purchase" th:each="total: ${total}">
            <p>ИТОГО:<span th:text="${total}"></span>$</p>
            <button class="purchase_button">Купить</button>
        </div>
    </div>
</body>
</html>