<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main_page.css">
    <title>ShopApp</title>
</head>
<body>
    <div class="header">
        <a href="/catalog/catalogPage">каталог</a>
    </div>
    <div class="main">
        <div class="catalog_title">
            <H1 class = "">КОРЗИНА</H1>
        </div>
        <div class="catalog">
            <div class="item_card" th:each="item: ${item}">
                <img src="img/xiaomi.png" alt="" width="150">
                <h3 th:text = "${item.get().getName()}"></h3>
                <h5  th:text = "${item.get().getPrice()}"></h5>
                <button>Подробнее</button>
                <a href="item_page.html">link</a>
            </div>
        </div>
    </div>
</body>
</html>