<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/item_page.css">
    <title>ShopApp</title>
</head>
<body >
    <div class="header">
        <a href="/catalog/catalogPage">каталог</a>
        <a href="/cart/getCart">корзина</a>
    </div>
    <div class="main" th:each="item: ${item}">
        <div class="item_title">
            <h1 th:text="${item.get().getName()}"></h1>
        </div>
        <div class="item_content" >
            <img src="img/xiaomi.png" alt="" width="250">
            <p th:text="${item.get().getDescription()}"></p>
            <p th:text="${item.get().getPrice()}" ></p>
                <!--<button type="button" th:attr="data-item-id=${item.get().getId()}" onclick="addToCart(this)">Добавить в корзину</button>
                <script th:inline="javascript">
                    function addToCart(button) {
                        var itemId = button.getAttribute('data-item-id');
                        fetch('/cart/addToCart?id=' + itemId, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            // body: JSON.stringify({ id: itemId }), // Можно использовать JSON, если параметр должен быть в теле запроса
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            // Обработка успешного ответа
                            console.log('Товар успешно добавлен в корзину!');
                        }).catch(error => {
                            // Обработка ошибки
                            console.error('There has been a problem with your fetch operation:', error);
                        });
                    }
                </script>-->

            <form method="post" th:action="@{/cart/addToCart}">
                <input type="hidden" th:name="id" th:value="${item.get().getId()}">
                <!-- Другие поля формы, если необходимо -->
                <button type="submit">Добавить в корзину форма</button>
            </form>


        </div>
    </div>

</body>
</html>