<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/login_page.css"/>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="main-section">
    <h1>LOGIN</h1>
    <form method="post" th:action="@{/auth/loginPage}">
        <input id="username" name="username" placeholder="Имя пользователя" />
        <input id="password" name="password" type="password" placeholder="parol" />
        <div class="btn-section">
            <button class="w-100 btn btn-lg btn-success mt-3" type="submit">
                Войти
            </button>
            <a href="/registration/regPage">
                <button type="button">регистрация</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>
