<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
LOGIN
  <form method="post" th:action="@{/auth/loginPage}">
    <input id="username" name="username" placeholder="Имя пользователя">
    <input id="password" name="password" placeholder="parol">
    <button class="w-100 btn btn-lg btn-success mt-3" type="submit">Войти</button>
  </form>
<a href="/registration/regPage">
    <button type="button">регистрация</button>
</a>
</body>
</html>