<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../static/css/main_page.css}" href="/static/css/main_page.css" rel="stylesheet"/>
    <title>ShopApp</title>
</head>
<body>
    <div class="header">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout_btn">Выйти</button>
        </form>
        <form th:action="@{/cart/getCart}" method="get">
            <button type="submit" class="logout_btn">Корзина</button>
        </form>
    </div>
    <div class="main">
        <div class="catalog_title">
            <H1 class = "">КАТАЛОГ</H1>
        </div>
        <div class="filter">
            <a href="/catalog/priceFilteredPage">
            </a>
            <a th:href="@{/catalog/priceFilteredPage(param='hight')}">
                <button class="filter_button">по цене(возрастанию)</button>
            </a>
            <a th:href="@{/catalog/priceFilteredPage(param='low')}">
                <button class="filter_button">по цене(убыванию)</button>
            </a>
            <form method="get" th:action="@{/catalog/filteredPage}">
                <select name="category" class="filter_button">
                    <option value="0">Выбрать категорию</option>
                    <option th:each="category : ${category}" th:value="${category.getName()}" th:text="${category.getName()}">
                </select>
                <button type="submit" class="filter_button">Применить</button>
            </form>
        </div>
        <div class="catalog">
            <div class="item_card" th:each="item: ${item}">
                <div class="card_top">
                    <img th:src="${item.imageUrl}" width="280px" height="280px">
                </div>
                <div class="card_bottom">
                    <h5  class="card_price"><span th:text="${item.getPrice()}"></span>$</h5>
                    <h5 class="card_category" th:text="${item.getCategory().getName()}"></h5>
                    <h3 class="card_title" th:text="${item.getName()}"></h3>
                    <a th:href="@{/item/getItem(id=${item.getId()})}">
                        <button class = "card_add" type="button">Подробнее</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>