<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
REGISTRATION
<form method="post" th:action="@{/registration/regSave}" th:object="${userForm}">
  <input id="username" name="username" placeholder="Имя пользователя" th:field="*{login}">
  <input id="password" name="password" placeholder="parol" th:field="*{password}">
  <button class="w-100 btn btn-lg btn-success mt-3" type="submit">Регистрация</button>
</form>
</body>
</html>